body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
}

h1 {
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;   
}

h3 {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: purple;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/*identificador "id1": Verdana, azul
classe "classeA": Tahoma, cinza "#333333".
body: Arial, preto*/

#id1{
font-family: Verdana;
color: blue;
}
.classeA {
font-family: Tahoma;
color: #333333;
}
body{
font-family: Arial;
color: black;
}